<!DOCTYPE html>
<html>
<body>

<h1 style="text-align: center;">Hello Rails</h1>
<p style="text-align: center;">This is my about page.</p>
<p style="text-align: center;">Nothing cool about here.</p>


</body>
</html>