

<!DOCTYPE html>
<html>
<head>
  <title>Rails!</title>


</head>
<body>

<div class="center jumbotron">
  <div class="alpha">
    <h1>ALPHA BLOG</h1>
    <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
  </div>
</div>



</body>
</html>