

<!DOCTYPE html>
<html>
<head>
  <title>Rails!</title>


</head>
<body>

<div class="center jumbotron">
  <div class="alpha">
    <h1>ALPHA BLOG</h1>
    <% if !logged_in? %>
      <%= link_to "Sign up", signup_path , class: "btn btn-primary btn-lg btn-xlarge" %>
    <% end %>
  </div>
</div>



</body>
</html>

