

  <div class="container">
    <div class="panel-footer">
      <small>
        &copy; 2019 Copyright: <a href="http://www.udemy.com"> The Complete Ruby on Rails Developer</a>
        by <a> Arnold Sulana</a>
      </small>
    </div>
  </div>